html, body{
    display: flex;
    justify-content: center;
    color: #FF00BCFF;
}

#text{
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

canvas{
    display: block;
    border-radius: 10px;
}